@charset "UTF-8";

/* Begin: Print styles */
/* Hide interface elements that are not needed on print version */
@media print {
  .app-header, .app-sidebar, footer, a[href]:after, #btn-back-to-top, .skip-links, .navbar, .noprint {
    display: none !important;
  }

  body {
    background: white;
    color: black;
    font-size: 12pt;
    line-height: 1.5;
  }

  .app-main {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  h1, h2, h3 {
    page-break-after: avoid; 
  }

  .page-break {
    page-break-before: always; 
  }
}
/* End: Print styles */

/* Custom blockquote style */
blockquote {
  border-left: 4px solid #0076ff;
  padding-left: 15px;
  margin-left: 0;    
  font-style: italic;
  color: #909090;
}

/* Back to Top button */
#btn-back-to-top {
  padding: 10px;
  position: fixed;
  bottom: 25px;
  right: 5px;
  display: none;
  color: #909090;
}

/* Change default header size */
.app-header {
  height: 2.5rem;
}

/* For large font tooggle button */
body.font-large {
  font-size: 1.2rem;
}

/* Fix user header size */
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  min-height: 25px;
}

/* Define color styles */
code {
  color: DodgerBlue; 
  font-family: Consolas, 'Courier New', monospace;
}

mark {
  background: DodgerBlue;
  color: black;
}

.text-bg-gray {
  background-color: #343a40; 
  color: #ffffff;          
}

/* Dirtyfix hide skip-link block*/
.skip-link {
  padding: 0px;
}