@charset "UTF-8";
/*!
 * Custom CSS styles
*/

/* Custom blockquote style */
blockquote {
  border-left: 4px solid #0076ff;
  padding-left: 15px;
  margin-left: 0;    
  font-style: italic;
  color: #909090;
}

/* Back to Top button */
#btn-back-to-top {
  padding: 10px;
  position: fixed;
  bottom: 25px;
  right: 5px;
  display: none;
  color: #909090;
}

/* For large font tooggle button */
body.font-large {
  font-size: 1.2rem;
}

/* Fix user header size */
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  min-height: 25px;
}

/* Custom code tag style*/
code {
  color: DodgerBlue; 
  font-family: Consolas, 'Courier New', monospace;
}