@charset "UTF-8";
/*!
 * Custom CSS styles
*/

blockquote {
  border-left: 4px solid #0076ff;
  padding-left: 15px;
  margin-left: 0;    
  font-style: italic;
  color: #909090;
}

#btn-back-to-top {
  padding: 10px;
  position: fixed;
  bottom: 25px;
  right: 5px;
  display: none;
  color: #909090;
}

